body{
  background-image: url('https://images.rawpixel.com/editor_1024/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTEwL3BkbWlzYzYtcGRjYXRsaW4wMDY0OS1pbWFnZV8yLmpwZw.jpg');
}

.test{
  text-align:center;
}

#content{
 font-size: 4.5em;
}

p{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}


img{
  object-fit: cover;
/*   left:230px; */
/*   height: 430px; */
  width:500px;
}
h1{
  color:white;
  background-color:Tomato;
}




