body{
  font-family: fantasy;
  background-color: #ADD8E6;
}

.test{
  text-decoration: underline;
}

#content{
 font-size: 4.5em;
}

img{
  object-fit: cover;
  left:230px;
  height: 230px;
  width:300px;
}
h1{
  color:white;
}

